<main class='bg-maika bg-cover bg-center h-64 w-full'>
  <div>
    <h1>佐々木舞香クイズ</h1>
    <p>15個の問題に答えて推し度を知ろう</p>
    <%= form_with url:love_create_path, method: :post do %>
    <div>
      <label>問題1: 担当カラーは何色？</label><br>
      <label><%= radio_button_tag 'answers[q1]', '⚪︎' %>白</label>
      <label><%= radio_button_tag 'answers[q1]', '×' %>緑</label>
      <label><%= radio_button_tag 'answers[q1]', '×' %>紫</label>
      <label><%= radio_button_tag 'answers[q1]', '×' %>薄めピンク</label>
    </div>
    <div>
      <label>問題2: センター曲は？</label><br>
      <label><%= radio_button_tag 'answers[q2]', '×' %>ラブロケ</label>
      <label><%= radio_button_tag 'answers[q2]', '×' %>ウィークエンドシトロン</label><br>
      <label><%= radio_button_tag 'answers[q2]', '×' %>呪って呪って</label>
      <label><%= radio_button_tag 'answers[q2]', '⚪︎' %>絶対アイドル辞めないで</label>
    </div>
    <div>
      <label>問題3: 血液型は？</label><br>
      <label><%= radio_button_tag 'answers[q3]', '⚪︎' %>A型</label>
      <label><%= radio_button_tag 'answers[q3]', '×' %>B型</label>
      <label><%= radio_button_tag 'answers[q3]', '×' %>O型</label>
      <label><%= radio_button_tag 'answers[q3]', '×' %>AB型</label>
    </div>
    <div>
      <label>問題4: 特技は？</label><br>
      <label><%= radio_button_tag 'answers[q4]', '×' %>イラスト</label>
      <label><%= radio_button_tag 'answers[q4]', '⚪︎' %>絡まったネックレス絶対解ける</label><br>
      <label><%= radio_button_tag 'answers[q4]', '×' %>目分量料理</label>
      <label><%= radio_button_tag 'answers[q4]', '×' %>秒数を頭の中で測る</label>
    </div>
    <div>
      <label>問題5: ヒロインズの他己紹介では誰の歌詞を担当した？</label><br>
      <label><%= radio_button_tag 'answers[q5]', '×' %>野口 衣織</label>
      <label><%= radio_button_tag 'answers[q5]', '×' %>齋藤 樹愛羅</label>
      <label><%= radio_button_tag 'answers[q5]', '⚪︎' %>髙松 瞳</label>
      <label><%= radio_button_tag 'answers[q5]', '×' %>瀧脇 笙古</label>
    </div>

    <h2>王シリーズより(2022/02/22配信)</h2>
    <div>
      <label>問題6: 好きなキャラクターは？</label><br>
      <label><%= radio_button_tag 'answers[q6]', '×' %>弥生 春</label>
      <label><%= radio_button_tag 'answers[q6]', '×' %>水無月 涙</label>
      <label><%= radio_button_tag 'answers[q6]', '×' %>神無月 郁</label>
      <label><%= radio_button_tag 'answers[q6]', '⚪︎' %>霜月 隼</label>
    </div>
    <div>
      <label>問題7: 昔お母さんに叱られたことは？</label><br>
      <label><%= radio_button_tag 'answers[q7]', '×' %>勉強しなさい</label>
      <label><%= radio_button_tag 'answers[q7]', '×' %>ちゃんとしゃべりなさい</label><br>
      <label><%= radio_button_tag 'answers[q7]', '⚪︎' %>学校に行きなさい</label>
      <label><%= radio_button_tag 'answers[q7]', '×' %>早く寝なさい</label>
    </div>
    <div>
      <label>問題8: 小さな自慢は？</label><br>
      <label><%= radio_button_tag 'answers[q8]', '×' %>手先が器用</label>
      <label><%= radio_button_tag 'answers[q8]', '⚪︎' %>初めてのことでもそつなくこなせる</label><br>
      <label><%= radio_button_tag 'answers[q8]', '×' %>お母さんみたいに家庭的</label>
      <label><%= radio_button_tag 'answers[q8]', '×' %>人にやさしい</label>
    </div>
    <div>
      <label>問題9: 髙松 瞳とデートに！何処に行く？</label><br>
      <label><%= radio_button_tag 'answers[q9]', '⚪︎' %>温泉</label>
      <label><%= radio_button_tag 'answers[q9]', '×' %>遊園地</label>
      <label><%= radio_button_tag 'answers[q9]', '×' %>アスレチック</label>
      <label><%= radio_button_tag 'answers[q9]', '×' %>映画</label>
    </div>
    <div>
      <label>問題10: 人生で一番笑った思い出は？</label><br>
      <label><%= radio_button_tag 'answers[q10]', '×' %>樹愛羅が転んだ</label>
      <label><%= radio_button_tag 'answers[q10]', '×' %>友達が角に足をぶつけた</label><br>
      <label><%= radio_button_tag 'answers[q10]', '×' %>樹愛羅が大遅刻をした</label>
      <label><%= radio_button_tag 'answers[q10]', '⚪︎' %>友達に鳥のフンが落ちた</label>
    </div>
    <div>
      <label>問題11: 無敵カワイイ餃子女王決定戦で、餃子以外にただ自分が食べたくて焼いた食べ物は？</label><br>
      <label><%= radio_button_tag 'answers[q11]', '×' %>豊潤</label>
      <label><%= radio_button_tag 'answers[q11]', '⚪︎' %>香燻</label>
      <label><%= radio_button_tag 'answers[q11]', '×' %>シャウエッセン</label>
      <label><%= radio_button_tag 'answers[q11]', '×' %>アルトバイエルン</label>
    </div>
    <div>
      <label>問題12: ダメだとわかっていても辞められない甘くて危うい好きなことは？</label><br>
      <label><%= radio_button_tag 'answers[q12]', '×' %>ニンニクマシが好き</label><br>
      <label><%= radio_button_tag 'answers[q12]', '×' %>UFOキャッチャーが好き</label><br>
      <label><%= radio_button_tag 'answers[q12]', '⚪︎' %>そのまま食べる塩が好き</label><br>
      <label><%= radio_button_tag 'answers[q12]', '×' %>カップ麺を食べて、すぐ寝るのが好き</label>
    </div>
    <div>
      <label>問題13: あの子コンプレックスで齋藤なぎさのパートを担当することになった歌詞は？</label><br>
      <label><%= radio_button_tag 'answers[q13]', '×' %>特別じゃないから あんな顔 見せないでよ</label><br>
      <label><%= radio_button_tag 'answers[q13]', '×' %>真っ白に戻して</label><br>
      <label><%= radio_button_tag 'answers[q13]', '×' %>運命じゃなかった2人は</label><br>
      <label><%= radio_button_tag 'answers[q13]', '⚪︎' %>愛なんて もういらないよ</label>
    </div>
    <div>
      <label>問題14: 絶対に辞めないで欲しいことは？</label><br>
      <label><%= radio_button_tag 'answers[q14]', '×' %>絶対 指原さんからのシャインマスカットの贈り物 辞めないで</label><br>
      <label><%= radio_button_tag 'answers[q14]', '×' %>絶対 ハンバーガーのキッチンカー 辞めないで</label><br>
      <label><%= radio_button_tag 'answers[q14]', '×' %>絶対 さなつんのモノマネ 辞めないで</label><br>
      <label><%= radio_button_tag 'answers[q14]', '⚪︎' %>絶対 愛犬、隣で寝るの 辞めないで</label>
    </div>
    <div>
      <label>問題15: イコラブクロスラブの魂で叫べ！イコラブロックという企画で斎藤 樹愛羅に向けて言った魂の叫びは？</label><br>
      <label><%= radio_button_tag 'answers[q15]', '×' %>鶏肉と豚肉の違いがわからないこと</label><br>
      <label><%= radio_button_tag 'answers[q15]', '⚪︎' %>マグロに火を通すとサンマになると思っている</label><br>
      <label><%= radio_button_tag 'answers[q15]', '×' %>大根に火を通すとカブになると思っている</label><br>
      <label><%= radio_button_tag 'answers[q15]', '×' %>フライパンを食べ物だと思っている</label><br>
    </div>
    <div class='hidden'>
      <label><%= radio_button_tag 'answers[q16]', '佐々木 舞香', checked:'checked' %>佐々木 舞香</label>
    </div>
    <div>
      <%= submit_tag '回答する', class:'mr-5 rounded-md btn bg-yellow-600 text-white px-3 hover:bg-yellow-600 hover:opacity-50' %>
    </div>
    <% end %>
  </div>
</main>