<main class='bg-pink-100 px-3 my-0 mx-auto w-full'>
  <h1 class='text-center font-bold text-lg pt-5'>推しメンセレクト</h1>
  <p class='text-center my-5'>クイズにチャレンジしたい推しメンを選ぼう！！</p>
  <div class='grid grid-cols-2 gap-2 text-center pb-10'>
    <div class='mt-5 mx-5'>
      <%= image_tag('comingsoon.png', class: 'w-28 h-40 rounded-lg my-0 mx-auto') %>
      <p class='pt-2'>大谷 映美里</p>
    </div>
    <div class='mt-5 mx-5'>
      <%= image_tag('comingsoon.png', class: 'w-28 h-40 rounded-lg my-0 mx-auto') %>
      <p class='pt-2'>大場 花菜</p>
    </div>
    <div class='mt-5 mx-5'>
      <%= link_to love_risa_path do %>
        <%= image_tag('risa.JPEG', class: 'w-28 h-40 rounded-lg my-0 mx-auto') %>
        <p class='pt-2'>音嶋 莉沙</p>
      <% end %>
    </div>
    <div class='mt-5 mx-5'>
      <%= image_tag('comingsoon.png', class: 'w-28 h-40 rounded-lg my-0 mx-auto') %>
      <p class='pt-2'>齋藤 樹愛羅</p>
    </div>
    <div class='mt-5 mx-5'>
      <%= link_to love_maika_path do %>
        <%= image_tag('maika.JPEG', class: 'w-28 h-40 rounded-lg my-0 mx-auto') %>
        <p class='pt-2'>佐々木 舞香</p>
      <% end %>
    </div>
    <div class='mt-5 mx-5'>
      <%= link_to love_hitomi_path do %>
        <%= image_tag('hitomi.JPEG', class: 'w-28 h-40 rounded-lg my-0 mx-auto') %>
        <p class='pt-2'>髙松 瞳</p>
      <% end %>
    </div>
    <div class='mt-5 mx-5'>
      <%= image_tag('comingsoon.png', class: 'w-28 h-40 rounded-lg my-0 mx-auto') %>
      <p class='pt-2'>瀧脇 笙古</p>
    </div>
    <div class='mt-5 mx-5'>
      <%= image_tag('comingsoon.png', class: 'w-28 h-40 rounded-lg my-0 mx-auto') %>
      <p class='pt-2'>野口 衣織</p>
    </div>
    <div class='mt-5 mx-5'>
      <%= link_to love_sana_path do %>
        <%= image_tag('sana.JPEG', class: 'w-28 h-40 rounded-lg my-0 mx-auto') %>
        <p class='pt-2'>諸橋 沙夏</p>
      <% end %>
    </div>
    <div class='mt-5 mx-5'>
      <%= image_tag('comingsoon.png', class: 'w-28 h-40 rounded-lg my-0 mx-auto') %>
      <p class='pt-2'>山本 杏奈</p>
    </div>
  </div>
</main>

<script>
  document.addEventListener("turbo:load", () => {
    if (window.location.pathname === '<%= love_members_path %>') {
      if (!window.audio) {
        audio = new Audio('<%= asset_path "audios/maou_14_shining_star.mp3" %>');
        audio.loop = true;
      }
      window.audio.play().catch(error => console.log(error));
    }
  });
</script>
